.Quotes{
    padding: 2em;
    padding-left: 0;
    padding-right: 0;
}
.Quotes .Snapshot{
    display: block;
    /* width: 200px; */
    padding: .75em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 6px;

    padding-left: 0;
    padding-right: 0;
}
