body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-form-container {
  width: min(25rem, 100%);
}

.dashboard {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: auto 2fr 1fr;
  grid-template-areas: "header header header"
                       "content content content"
                       "content content content";
  gap: 1rem;
}

.dashboard-header {
  grid-area: header;
}
